# Ненужные файлы
/settings.json
/lolzautocontest.log
/lolzautocontest-errors.log
/nohup.out
/venv/
/.idea/
/__pycache__/
/ErrorImages/

# Файлы самого лолза.
/lolz files/


# Куча прототипных файлов.
/backups/